table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 20px;
  }
  /* table * {
    position: relative;
  } */
  table td, table th {
    padding-left: 8px;
  }
  table thead tr {
    height: 30px;
    background: #082435;
    /* font-size: 16px; */
    color: white;
  }
  table tbody tr {
    height: 48px;
    border-bottom: 2px solid #8c8f88;
  }
  table tbody tr:last-child {
    border: 0;
  }
  table td, table th {
    text-align: center;
  }
  table td.l, table th.l {
    text-align: right;
  }
  table td.c, table th.c {
    text-align: center;
  }
  table td.r, table th.r {
    text-align: center;
  }
  
  @media screen and (max-width: 35.5em) {
    table {
      display: block;
    }
    table > *, table tr, table td, table th {
      display: block;
    }
    table thead {
      display: none;
    }
    table tbody tr {
      height: auto;
      padding: 8px 0;
    }
    table tbody tr td {
      padding-left: 45%;
      margin-bottom: 12px;
    }
    table tbody tr td:last-child {
      margin-bottom: 0;
    }
    table tbody tr td:before {
      position: absolute;
      font-weight: 700;
      width: 40%;
      left: 10px;
      top: 0;
    }
    
  }
body {
  background: #cacec6;
  font: 400 14px "Calibri", "Arial";
  padding: 1px;
}

blockquote {
  color: white;
  text-align: center;
}
.ancho_celdas_normales{
  /* width: 9%; */
  width: auto;
}
.ancho_celdas_barra{
  /* width: 4%; */
  width: auto;
}
.titulo_tabla_dash{
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  border-radius: 5px;
  border-top: 3px solid hsl(2, 85%, 43%);
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  display: flex;
  margin-bottom: 10px;
  height: 50px;
}
.titulo_tabla_dash h2{
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  margin-left: 10px;
}
.titulo_tabla_page {
  margin-left: 77% !important;
}
.contenedor_titulo{
  width: 100%;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  display: flex;
  height: 100px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  border-top: 4px solid hsl(0, 4.7%, 41.6%);
}
.div_container_titulo{
  flex-shrink: 0;
  flex-basis: 30%;
  
}
.div_container_titulo img{
  object-fit: cover;
  height: 70%;
  /* width: 100%; */
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 10px;
}
/* .div_container_titulo img {
  height: 50px; 
} */

.imagen_derecha img {
  height: 100px; /* Ajusta el tamaño según tu necesidad */
  margin-left: auto; /* Asegura que la imagen esté alineada a la derecha */
}
.contenido_titulo{
  flex-basis: auto;
  margin-left: 2%;
}
.titulo_principal{
  font-weight: 800;
  color: #c12222;
  font-size: 50px;
  /* margin-bottom: 0.4rem; */
  margin-top: 20px;
}

.skill {
  /*margin-bottom: 35px;*/
  position: relative;
  overflow-x:hidden;

}
.skill > p {
  font-size: 15px;
  font-weight: 400;
  color: #1a1716;
  margin: 0;
  text-align: left !important;
  padding-left: 9px;
}
/*
.skill:before{
  width: 100%;
  height: 5px;
  content: "";
  display: block;
  position: absolute;
  background: #959595;
  bottom: 0;
}

.skill-bar {
  width: 50%;
  height: 5px;
  background:#6a2ff4;
  display: block;
  position: relative;
}
*/
/* SKILL 1 */
.skill1{
  width: 95%;

}
.skill-bar span{
  position: absolute;
  /*border-top: 5px solid #f4392f;*/
  top: -30px;
  padding: 0;
  font-size: 16px;
  padding: 6px 0;
  font-weight: 400;
  position: absolute;
  
}
.skill-bar {
  position: relative;

}

.skill1 .skill-count1 {
  right: 0;
}
/* SKILL 2 */
.skill2{
  width: 85%;
}

.skill2 .skill-count2 {
  right: 0;
}
/* SKILL 3 */
.skill3{
  width: 75%;
}
.skill3 .skill-count3 {
  right: 0;
}

/* SKILL 4 */
.skill4{
  width: 65%
}

.skill4 .skill-count4 {
  right: 0;
}

/* SKILL 5 */
.skill5{
  width: 80%;
}

.skill5 .skill-count5 {
  right: 0;
}

/* SKILL 6 */
.skill6{
  width: 96%
}

.skill6 .skill-count6 {
  right: 0;
}


/*--- Indicadores ---*/
.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 100%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-danger{
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
.camaron{
  color: #9e4a4a;
  /* background-color: #c82333; */
  border-color: #bd2130;
}
.gps{
  color: #345b6e;
  /* background-color: #c82333; */
  border-color: #345b6e;
}
.btn-blue{
  color: #fff;
  background-color: #0000FF;
  border-color: #0000FF;
}
.status .active {
  
  background: #cff6dd;
  color: #1fa750;
  
}
.status .haciaplanta {
  
  background: #dbe089;
  color: #8d8d8b;
  
}
.status .haciacamaronera {
  
  background: #cde8ec;
  color: #345b6e;
  
}
.status .llegocamaronera {
  
  background: #f6e6cf;
  color: #a7681f;
  
}
.status span{
  position: relative;
  border-radius: 30px;
  padding: 4px 25px 4px 25px;
}

.status .active::after {
  background: #23bd5a;
}

.waiting {
  background: #fdf5dd;
  border-radius: 30px;
  color: #cfa00c;
}

.waiting:after {
  background: #f2be1d;
}
/* Estilo especial para el delimitador de la primera fila */
.delimitador-inicio {
  border-left: 3px solid black; /* Borde izquierdo más grueso */
}

.delimitador-final {
  border-right: 3px solid black; /* Borde derecho más grueso */
}
/* Delimitador para las celdas que terminan un colspan */
.border-right-delimiter {
  border-right: 1px solid white; /* Borde derecho más grueso */
}

.custom-table {
  width: 100%;
  background-color: transparent;
  text-align: left;
  border-collapse: collapse;
  
}
.custom-table tbody tr {
  height: 30px !important;
  border-bottom: none !important;
  
}

.custom-table td {
  padding: 2px 5px; /* Disminuye el padding vertical entre las filas */
  
}
.izquierda {
  text-align: left;
}

.custom-table td:first-child {
  color: white;
  font-weight: bold;
}

.custom-table td:last-child {
  color: white;
  font-weight: normal;
}
.custom-table-tercera td {
  color: white!important;
  font-weight: bold;
}

/* Personalización para la segunda tabla */
.custom-table-secondary tr:nth-child(2) td {
  /* border-bottom: 2px solid #8c8f88 !important;  */
  border-bottom: none; 
}

/* Asegurar que "No Iniciado" esté alineado a la izquierda */
.custom-table-secondary tr:nth-child(3) td:first-child {
  text-align: left;
}

/* Asegurar que "No Iniciado" esté alineado a la izquierda */
.custom-table-tercera tr:nth-child(2) td:first-child {
  text-align: left !important;
  
}
/* Asegurar que "No Iniciado" esté alineado a la izquierda */
.custom-table-tercera tr:nth-child(3) td:first-child {
  text-align: left !important;
  
}

.imagen_derecha {
  /* max-width: 140px; */ /* Ajusta el tamaño a tu gusto */
  height: auto;
  margin-left: 25%; /* Espacio entre el texto y la imagen */
}

.paginacion {
  display: flex;
  justify-content: center; /* Centra la paginación */
  align-items: center;
  margin-top: 20px; /* Espacio superior */
  gap: 10px; /* Espaciado entre botones */
}

.paginacion a,
.paginacion span {
  display: inline-block;
  padding: 8px 15px; /* Espaciado interno */
  font-size: 14px;
  color: #ffffff; /* Texto blanco */
  background-color: #055053; /* Color principal */
  border: 1px solid #055053; /* Bordes */
  border-radius: 5px; /* Bordes redondeados */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s, color 0.3s;
}

.paginacion a:hover {
  background-color: #036567; /* Color de fondo al pasar el ratón */
  color: #e5e5e5; /* Texto más claro */
}

.paginacion a.active {
  background-color: #022831; /* Color más oscuro para la página activa */
  font-weight: bold;
  cursor: default;
}

.paginacion .disabled {
  background-color: #cccccc; /* Color gris para botones desactivados */
  color: #666666;
  cursor: not-allowed; /* Cursor no permitido */
}

.paginacion a:first-child,
.paginacion a:last-child {
  font-weight: bold;
}

.paginacion span {
  font-size: 16px; /* Tamaño de texto mayor para indicar la página */
  font-weight: bold;
}



