@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
.progress-container {
  margin-top: 5rem;
  padding: 0px 70px;
}

.progress-decoration {
  position: relative;
  height: 16vh;
}
.progress-decoration svg {
  position: absolute;
  fill: rgba(237, 30, 40, 0.2);
}
.progress-decoration .icon-cloud {
  fill: rgba(145, 179, 250, 0.4);
}
.progress-decoration #cloud-one {
  right: 6vw;
  top: -12vh;
}
.progress-decoration #cloud-two {
  right: 32vw;
  top: -8vh;
}
.progress-decoration #cloud-three {
  right: 72vw;
  top: -12vh;
}
.progress-decoration #tree-one {
  bottom: 0;
  right: 80vw;
}
.progress-decoration #tree-two {
  bottom: 0;
  right: 20vw;
}
.progress-decoration #lamp-one {
  bottom: 0;
  right: 54vw;
}
.progress-decoration #lamp-two {
  bottom: 0;
  right: 0;
}

.progress-bar {
  background-color: transparent;
  border: 3px #f4f4f4 solid;
  border-radius: 20px;
  position: relative;
  margin: 4px 0 16px 0;
  height: 30px;
  width: 96%;
}

.progress-bar .completed-bar {
  background: linear-gradient(to left, #428462, #24a818);
  border-radius: 20px;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: width 2s ease 0.4s;
  padding: 0 8px;
}
.progress-bar .completed-bar__dashed {
  width: 96%;
  border: 2px dashed #ffffff;
}
.progress-bar .completed-bar__truck {
  font-size: 1.5rem;
  margin-left: 4px;
}

.progress-information {
  display: none;
  justify-content: space-between;
  padding: 0 4px;
}
/*
.icon-cloud {
  height: 50px;
  width: 50px;
}
.icon-lamp {
  height: 70px;
  width: 60px;
}
.icon-tree--one {
  height: 60px;
  width: 60px;
}
.icon-tree--two {
  height: 70px;
  width: 60px;
}
*/
p {
  font-family: "Poppins", "Helvetica", "sans-serif";
  letter-spacing: 1px;
  line-height: 1.5;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1rem;
  color: rgba(48, 48, 48, 0.6);
}

@media only screen and (max-width: 576px) {
  .progress-container {
    padding: 0px 16px;
  }

  .progress-decoration {
    display: none;
  }

  .progress-information {
    display: flex;
  }

  .progress-bar {
    margin-bottom: 4px;
  }
  .progress-bar .completed-bar__dashed {
    width: 96%;
    border: 1px dashed #ffffff;
  }
  .progress-bar .completed-bar__truck {
    font-size: 1rem;
    margin-left: 0;
  }
  .progress-bar .completed-bar-amarillo__dashed {
    width: 96%;
    border: 1px dashed #ffffff;
  }
  .progress-bar .completed-bar-amarillo__truck {
    font-size: 1rem;
    margin-left: 0;
  }
  .progress-bar .completed-bar-rojo__dashed {
    width: 96%;
    border: 1px dashed #ffffff;
  }
  .progress-bar .completed-bar-rojo__truck {
    font-size: 1rem;
    margin-left: 0;
  }
}

.progress-bar .completed-bar-amarillo {
  background: linear-gradient(to left, #8a791c, #b09e3d);
  border-radius: 20px;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: width 2s ease 0.4s;
  padding: 0 8px;
}
.progress-bar .completed-bar-amarillo__dashed {
  width: 96%;
  border: 2px dashed #ffffff;
}
.progress-bar .completed-bar-amarillo__truck {
  font-size: 1.5rem;
  margin-left: 4px;
}
.progress-bar .completed-bar-rojo {
  background: linear-gradient(to left, #ce5454, #9e3838);
  border-radius: 20px;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: width 2s ease 0.4s;
  padding: 0 8px;
}
.progress-bar .completed-bar-rojo__dashed {
  width: 96%;
  border: 2px dashed #ffffff;
}
.progress-bar .completed-bar-rojo__truck {
  font-size: 1.5rem;
  margin-left: 4px;
}